    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
    }
    #map {
      height: 100vh;
    }
    .awesome-marker i {
        font-size: 20px;
        margin-top: 8px;
    }
